.form-field {
  margin: 10px 0;
}

.fieldset {
  margin-top: 20px;
}

.fieldset div:last-child {
  margin-bottom: 0;
}

.fieldset div:nth-child(2) {
  margin-top: 0;
}

.first-field {
  margin-top: 0;
}
